header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;


    nav {
        position: absolute;
        z-index: 1;
        color: var(--lightShades);
        display: flex;
        align-items: center;
        width: 80%;

        h2 {

            font-size: 3rem;
            @media screen and (max-width:850px) {
                display: none;
            }
        }

        ul {
            padding: 20px 0;
            display: flex;
            list-style: none;
            margin: auto;

            li{
                margin: 0 20px;
                padding: 5px 15px;
                font-size: 1.5rem;
                font-weight: 600;
                cursor: pointer;
                border-radius: 20px;


                &:first-child {
                    background: var(--lightShades);
                    color: var(--mainColor);
                }
            }
        }
    }

    #parallaxContainer{
        background: var(--sunset);
        position: relative;
        overflow: hidden;
        z-index: 0;
        align-self: flex-start;
        width: 100%;
        max-height: 100vh;
        aspect-ratio: 16/9;
        left: 0;

        .parallaxLayer{
            position: absolute;
            height: 100%;
            width: 100%;
        }

        h1 {
            color: var(--lightShades);
            font-size: 3rem;
            top: 20%;
            text-align: center;
        }
    }

}